<!DOCTYPE html>
<html>
<title>About</title>
<head>
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
<div class="main-content">
<H1>About page</H1> 
<img class="portrait" src="img/photo-1453728013993-6d66e9c9123a.jpeg"> 
<p>{{message}}</p>
</div>
</body>
{{>footer}}
</html>